.form_wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid chocolate;
  border-radius: 5px;
}
.form_btn {
  margin-top: 10px;
}
.name_form {
  text-align: center;
}
.phone_form {
  text-align: center;
}
input {
  border: 1px solid gray;
  border-radius: 5px;
}
